# Python virtual environment
venv/

# Cache Python
__pycache__/
*.pyc

# Environment variables
.env

# System files
.DS_Store

# Fichier de test au fur et à mesure du développement
tests.py

# To do list
to_do_list.txt